body {
    background-color: #ECF0F1;
}

.thumbnail {
   display: inline-block;
}

.menu-form {
  float: left;
}

.menu-label {
  color: white;
  clear: both;
  margin-top: 5%;
}

.enviar:hover {
  background-color: #5BCC4A;
}

.sair:hover {
  background-color: #D74B4B;
}

.enviar {
  background-color: #72FF5C;
}

.sair {
  background-color: #FF5359;
}

.div-form {
  height: auto;
}

.mat {
  float: left;
  margin-top: 4%;
  margin-left: 15%;
}

.img-logo {
  width: 120px;
  height: 50px;
  margin-left: -10px;
}

#item1 {
  width: 120px;
  text-align: center;
  background-color: #FFF6AC;
}

#item1:hover, .active-home {
  width: 120px;
  height: 50px;
  text-align: center;
  /*background-color: #F7E43F !important;*/
  border-bottom: 5px solid #2c3e50;
}

#item2 {
  width: 120px;
  text-align: center;
  background-color: #FFCDD2;
}

#item2:hover, .active-sobre {
  width: 120px;
  height: 50px;
  text-align: center;
  /*background-color: #FFACA1 !important;*/
  border-bottom: 5px solid #2c3e50;
}

#item3 {
  width: 120px;
  text-align: center;
  background-color: #D5FFC4;
}

#item3:hover, .active-professores {
  width: 120px;
  height: 50px;
  text-align: center;
  /*background-color: #5FFF4C !important;*/
  border-bottom: 5px solid #2c3e50;
}

#item4 {
  width: 120px;
  text-align: center;
  background-color: #B8D4FF;
}

#item4:hover, .active-cursos {
  width: 120px;
  height: 50px;
  text-align: center;
  /*background-color: #99B9FF !important;*/
  border-bottom: 5px solid #2c3e50;
}

#item5 {
  width: 120px;
  text-align: center;
  background-color: #FFE0B1;
}

#item5:hover, .active-fale {
  width: 120px;
  height: 50px;
  text-align: center;
  /*background-color: #FFC883 !important;*/
  border-bottom: 5px solid #2c3e50;
}

#item6 {
  width: 120px;
  text-align: center;
  background-color: #F3C7FF;
}

#item6:hover, .active-login {
  width: 120px;
  height: 50px;
  text-align: center;
  /*background-color: #ECB3FF !important;*/
  border-bottom: 5px solid #2c3e50;
}

.img-title {
  width: 400px;
}

.img-box {
   float: left;
   width: 30%;
   margin-left: -10px;
}

.logo {
    /*max-width: 60px;*/
    width: 40%;
    margin-top: -15px;
}

.thumb-img {
  width: 300px;
  height: 280px;
}

#title {
  text-align: center;
  margin-bottom: 4%;
}

.subtitle {
  text-align: center;
}

.footer {
  position: relative;
    text-align: center;
    bottom: 0;
}

#div-footer-sobre {
  margin-top: 2%;
}

#div-footer-fale-conosco {
  margin-top: 7%;
}

#div-footer-login {
  margin-top: 22.2%;
}

.text {
  text-align: justify;
  font-size: 19px;
}

.text-sobre {
  margin-top: 2%;
}

.form-fale-conosco {
  margin-top: 4%;
}

.form-login {
  margin-top: 6%;
}

.formulario {
    margin-left: 20%;
}

.formulario2 {
    margin-left: -50%;
}

.formulario3 {
    margin-left: 26%;
}

.visualizar {
    margin-left: 50%;
}

.breadcrumbs {
    text-decoration: none;
    color: #2c3e50;
}

.radio {
  padding: 7px;
}

.btn-form {
  width: 10%;
}

.a-btn-form {
  text-decoration: none;
  color: #333;
}

.a-btn-form:hover {
  text-decoration: none;
  color: #333;
}

.caption-h3 {
   margin-top: 10%;
   margin-bottom: -2%;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

@media screen and (max-width: 400px) {
    .logo {
        display: none;
    }

    .navbar-collapse {
        display: block;
    }

    .formulario, .formulario2, .visualizar {
        margin-left: 0;
    }

    .img-title {
      width: 300px;
    }
}
