body {
    background-color: #ECF0F1;
}

.thumbnail {
   display: inline-block;
}

.menu-form {
  float: left;
}

.menu-label {
  color: white;
  clear: both;
  margin-top: 5%;
}

.div-form {
  height: auto;
}

.mat {
  float: left;
  margin-top: 4%;
  margin-left: 15%;
}

.img-logo {
    width: 150px;
    height: 70px;
    margin-left: -53px;
}

.img-box {
   float: left;
   width: 30%;
   margin-left: -10px;
}

.logo {
    max-width: 60px;
    margin-top: -24px;
}

.thumb-img {
    width: 300px;
    height: 280px;
}

#title {
    text-align: center;
    margin-bottom: 4%;
}

.subtitle {
  text-align: center;
}

.footer {
  position: relative;
    text-align: center;
    bottom: 0;
}

#div-footer-sobre {
  margin-top: 2%;
}

#div-footer-fale-conosco {
  margin-top: 7%;
}

#div-footer-login {
  margin-top: 22.2%;
}

.text {
  text-align: justify;
  font-size: 19px;
}

.text-sobre {
  margin-top: 2%;
}

.form-fale-conosco {
  margin-top: 4%;
}

.form-login {
  margin-top: 6%;
}

.formulario {
    margin-left: 20%;
}

.formulario2 {
    margin-left: -50%;
}

.formulario3 {
    margin-left: 26%;
}

.visualizar {
    margin-left: 50%;
}

.breadcrumbs {
    text-decoration: none;
    color: #2c3e50;
}

.radio {
  padding: 7px;
}

.btn-form {
  width: 10%;
}

.a-btn-form {
  text-decoration: none;
  color: #333;
}

.a-btn-form:hover {
  text-decoration: none;
  color: #333;
}

.caption-h3 {
   margin-top: 10%;
   margin-bottom: -2%;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

@media screen and (max-width: 400px) {
    .logo {
        display: none;
    }

    .navbar-collapse {
        display: block;
    }

    .formulario, .formulario2, .visualizar {
        margin-left: 0;
    }
}
